.button:disabled {
  -fx-text-fill: #808080;
}
.button:enabled {
  -fx-text-fill: black;
}
.check-box:disabled {
  -fx-text-fill: #808080;
}
.check-box {
  -fx-text-fill: black;
}

.text-field:disabled {
  -fx-text-fill: #808080;
  -fx-text-inner-color: #808080;
}

.text-field {
  -fx-text-fill: black;
  -fx-text-inner-color: black;
}